.containerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 148, 224);
    width: 5vh;
    height: 5vh;
    margin-left: 1vh;
    border-radius: 50%;
}


.buttonHomePage{
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: white;
}


