body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerHome{
  width: 70vh;
}

.titlePageHome{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.inputHomePage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.listHomePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
